@use "../utils/vars.scss" as *;

.header {

    &-top, &-bottom {
        position: fixed;
        left: 0;
        width: 100%;
        color: $primary;


        z-index: 10;
    } 

    &-top {
        top: 0;

        padding:  var(--sp-sm) var(--sec-p-x);
        background-color: $white;

        display: flex;
        justify-content: space-between;
        align-items: center;

        &-cta {
            display: flex;
            align-items: center;

            p {
                display: none;
                
            }
        }
    }

    &-bottom {
        bottom: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: var(--sec-p-x);

        backdrop-filter: blur(var(--fs-base));
        background-color: #ffffffa9;

        display: none;
    }
}

@media (min-width : $bp-lg) {

}