:root {
    --icon-size : 2rem;
    --people-pic : 5rem;
    --people-pic-big : 7rem;

    --btn-round-size : 3rem;
    --btn-p-x : 1.25rem;
    --btn-p-y : 1rem;
    --btn-radius : 10px;

    --sp-sm : 0.5rem;
    --sp-md : 1rem;
    --sp-lg : 1.5rem;

    --sec-p-x : 2rem;
    --sec-p-y : 4rem;
}