$primary : #477A7B;
$secondary : #A45A2A;

$bp-sm : 320px;
$bp-md : 550px;
$bp-lg : 1000px;

$light : #ffffff33;

$dark : #000000;
$white : #fff;
$text : $dark;

$red : #DC3545;

$round : 1000px;

$bg-colors: (
  light: $light,
  white: $white,
  primary: $primary,
);

$fast : 0.3s;
$bezier : cubic-bezier(0.25, 1, 0.5, 1);