@use "../utils/vars.scss" as *;

.btn {

    border-radius: var(--btn-radius);
    padding: var(--btn-p-x) var(--btn-p-y);

    transition: all $fast $bezier;

    &-round {
        padding: 0;
        border-radius: 1000px;

        width: var(--btn-round-size);
        height: var(--btn-round-size);

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            min-width: var(--icon-size-svg);
            max-width: var(--icon-size-svg);
            min-height: var(--icon-size-svg);
            max-height: var(--icon-size-svg);
        }

        &--sm {
            width: var(--btn-round-size-sm);
            height: var(--btn-round-size-sm);
        }
    }

    &-primary {
        background-color: $primary;
        color: $white;

        &:hover {
            
        }
    }

    &-light{
        background-color: $light;
    }

    &:active {
        transform: scale(.8);
    }
}