@use "../utils/vars.scss" as *;

.categories {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    
    padding-left: 0!important;
    padding-right: 0!important;

    h1 {
        margin-left: var(--sp-md);
        margin-right: var(--sp-md);
        margin-top: calc(var(--sp-lg) * 1.5);
        margin-bottom: calc(var(--sp-lg) * 1.5);
        text-align: center;
        color: $white;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;

        background-color: $primary;
    }

    &-list {

        position: relative;
        z-index: 1;

        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

        display: flex;
        flex-direction: row;
        gap: var(--sp-md);

        &-item {

            pointer-events: none;
            scroll-snap-align: center;

            display: flex;
            
            width: 85vw;
            aspect-ratio: 10/ 8;

            &:first-child label { margin-left: var(--sp-md); }
            &:last-child label { margin-right: var(--sp-md); }

            .input {
                pointer-events: all;
                cursor: pointer;

                &:has(input:checked) {
                    cursor: inherit;
                }

                // Reset some of the .input styles
                background-color: transparent!important;
                border: none!important;

                position: relative;
                overflow: hidden;

                border-radius: var(--btn-radius);
    
                width: 60vw;
                height: 100%;

                display: flex;
                align-items: flex-end;
                justify-content: flex-end;

                padding: var(--sp-md);
    
                p {
                    margin-bottom: -8px;
                    text-align: right;
                    width: 100%;
                    font-size: 22px;
                    color: $white;
                    font-weight: 800;
                }
    
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    object-fit: cover;
                    z-index: -2;
                }

                input[type="radio"] {
                    &::before {
                        border-color: $white!important;
                        background-size: 0%!important;
                        transform: rotate(200deg);
                    }

                    &::after {
                        content: none!important;
                    }

                    &:checked {
                        &::before {
                            background-size: 60%!important;
                            transform: rotate(0deg);
                        }
                    }
                }

                &::before, &::after {
                    content: "";
                    position: absolute;
                }

                // Filigrane
                &::before {
                    inset: 0;
                    background: linear-gradient(to top, #000 0%, #00000000 30%, #00000000 100%);
                    z-index: -1;
                } 

                // Radio circle
                &::after {
                    bottom: var(--sp-md);
                    left: var(--sp-md);
                    width: var(--fs-base);
                    height: var(--fs-base);

                    background-color: transparent;
                    border: 1px solid $white;

                    border-radius: $round;
                }
            }
        }
    }
}

@media (min-width : $bp-md) {
    .categories-list {
        padding-left: var(--sec-p-x);
        padding-right: var(--sec-p-x);
    }
}


@media (min-width : $bp-lg) {
    .categories {
        &-list {
            
            width: calc(100% - var(--sp-lg));
            padding-left: var(--sec-p-x);
            padding-right: var(--sec-p-x);
            overflow: visible;
            
            display: grid;
            gap: var(--sp-lg);
            grid-template-rows: 1fr;
            grid-template-columns: repeat(3, 33%);

            &-item {
                width: 100%;    

                .input.input--radio {
                    margin: 0;
                }
            }
        }
    }
    
}
