@use "../utils/vars.scss" as *;

// Search section

.search {

    h2 {
        text-align: center;
        margin-bottom: var(--sp-lg);
    }

    .input--search {

    }

    &-results {
        display: flex;
        flex-direction: column;
        gap: var(--sp-md);

        padding: var(--sp-sm);
        border-radius: var(--btn-radius);
        background-color: $white;

        overflow-y: scroll;
        scroll-snap-type: y mandatory;

        margin-left: calc(var(--sec-p-x) * -1);
        margin-right: auto;
        margin-left: auto;
        width: 100%;

        max-height: 300px;

        &-item {
            scroll-snap-align: center;
            display: block;

            a, button {
                width: 100%;
                text-align: left;
                transition: all $fast $bezier;
            }

            &:has(a, button):hover {
                a, button {
                    opacity: .25;
                }
            }
        }
    }

    &-wrapper {
        &-msg {
            color: $red;
            font-size: 12px;
            margin-left: var(--btn-border-width);

            margin-top: calc(var(--fs-base) * .25);

            opacity: 0;
            transform: translateY(1rem);
            pointer-events: none;

            transition: all $fast $bezier;
        }
    }

    &--error {

        .input--search {
            border-color: $red!important;
            svg { color: $red!important; }
        }

        .search-wrapper-msg {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;    
        }
    }
}