/* Error: Undefined variable.
 *    ,
 * 12 |         color: $whiter;
 *    |                ^^^^^^^
 *    '
 *   assets\scss\tpl-parts\categories.scss 12:16  @forward
 *   assets\scss\tpl-parts\_load_parts.scss 3:1   @forward
 *   assets\scss\style.scss 4:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 12 \2502          color: $whiter;\d\a    \2502                 ^^^^^^^\a    \2575 \a   assets\\scss\\tpl-parts\\categories.scss 12:16  @forward\a   assets\\scss\\tpl-parts\\_load_parts.scss 3:1   @forward\a   assets\\scss\\style.scss 4:1                   root stylesheet";
}
